name: macOS Build Environment

on: [push, pull_request]

env:
  PIPENV_ACTIVE: 1

jobs:
  firmware:
    runs-on: macOS-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: |
        brew update
        brew install tree ctags dfu-util binutils gnu-sed ninja
        brew tap armmbed/formulae
        brew install armmbed/formulae/arm-none-eabi-gcc
    - name: Install kll compiler
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install kll
    - name: Build
      working-directory: Keyboards
      run: ./ic_keyboards.bash

  firmware-test:
    runs-on: macOS-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: |
        brew update
        brew install tree ctags dfu-util binutils gnu-sed ninja
        brew tap armmbed/formulae
        brew install armmbed/formulae/arm-none-eabi-gcc
    - name: Install kll compiler
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install kll
    - name: Test
      working-directory: Keyboards
      run: EnableHostOnlyBuild=true HostTest=kll.py ./ic_keyboards.bash

  other-firmware:
    runs-on: macOS-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: |
        brew update
        brew install tree ctags dfu-util binutils gnu-sed ninja
        brew tap armmbed/formulae
        brew install armmbed/formulae/arm-none-eabi-gcc
    - name: Install kll compiler
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install kll
    - name: Build
      working-directory: Keyboards/Others
      run: ./others.bash

  test-builds:
    runs-on: macOS-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: |
        brew update
        brew install tree ctags dfu-util binutils gnu-sed ninja
        brew tap armmbed/formulae
        brew install armmbed/formulae/arm-none-eabi-gcc
    - name: Install kll compiler
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install kll
    - name: Build
      working-directory: Keyboards/Testing
      run: ./all_tests.bash

  bootloaders:
    runs-on: macOS-latest
    steps:
    - uses: actions/checkout@v2
    - name: Install dependencies
      run: |
    - name: Install kll compiler
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install kll
    - name: Build
      working-directory: Bootloader/Builds
      run: ./all.bash
